
.banner{
    background-image: url(../assets/Hero-bg.png);
    justify-items: center;
}


.banner-content{
    max-width: 1180px;
    padding: 0px 221px 13px 221px;
}

.container {
    text-align: center;
    padding: 20px;
}

header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.download-resume {
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}
/* .banner{
    display: 
    justify-content:;
} */

.banner-profile-pic{
    font-size: 228px;
    font-weight: auto;
    margin:26px 380px 0px 380px;
}
.banner-title{
    font-weight:48px;
    max-height: 244px;
    text-align: center;
    max-width: 100%;
    font-size: 48px;
    margin-top: 20px;
    padding: 0px 294px 0px 294px;
    border-radius: 8px;
}

.banner-description{
    font-size: 16px;
    color: #0D1321;
    max-width: 852px;
    text-align: center;
    margin: 0px 73px 32px 73px;
    max-height: 244px;
}

.btn-primary{
    background-color: #0D1321;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}